#recipe {
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

#recipe input {
    border: none;
    background-color: transparent;
    grid-area: input;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid gray;
    padding: 10px 5px;
}

#recipe input:disabled {
    color: black;
}

#recipe .fieldset {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 50% 20%;
    grid-template-rows: auto;
    grid-template-areas: "label input";
    align-items: center;
}

#recipe .fieldset label {
    margin-right: 20px;
    grid-area: label;
    text-align: right;
}

#recipeButtons {
    width: 50%;
    margin: 0 auto;
}

#recipeButtons button {
    display: block;
    margin: 0 auto;
    min-width: 200px;
}