<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{%- if page.title -%}{%- if page.include-title != false -%}{{ page.title | append: " • "}}{%- endif -%}{%- endif -%}{{ site.title }}</title>

{%- assign description = page.description | default: site.description -%}
{%- if description -%}
<meta name="description" content="{{ description }}">
{%- endif -%}
<meta name="theme-color" content="#fafafa"/>

{%- include favicon.html -%}
<script>
    if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("An active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("{{ site.baseurl }}/sw.js", {
        scope: "./"
      })
      .then(function (reg) {
        console.log("Service worker has been registered for scope: " + reg.scope);
      });
  }
}
</script>
