.usa-content {
    p, ul:not(.usa-accordion):not(.usa-accordion-bordered) {
        max-width: unset;
        overflow: auto;
    }
}

a {
    color: #065264;

    &:visited {
        color: #065264;
    }
    &:visited:hover {
        color: #8AC8C0;
    }
}

@include media($large-screen){
    .usa-nav-submenu {
        a, a:visited, a:hover {
            color: #ffffff;
        }
    }
}

.usa-footer-logo-img {
    max-width: 20%;
}

footer p {
    margin-left: 10%;
    max-width: 60%;
    display: inline-block;
}