body {
    cursor: url("/assets/img/wizard.png"), default;
}

.usa-content {
    p, ul:not(.usa-accordion):not(.usa-accordion-bordered) {
        max-width: unset;
        overflow: auto;
    }
}

a {
    color: #065264;

    &:visited {
        color: #065264;
    }
    &:visited:hover {
        color: #8AC8C0;
    }
}

@include media($large-screen){
    .usa-nav-submenu {
        a, a:visited, a:hover {
            color: #ffffff;
        }
    }
}

.usa-footer-logo-img {
    max-width: 20%;
    display: none;
}

footer p {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}


.main-top {
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;

/* The progress container (grey background) */
.progress-container {
    height: 6px;
    /* The progress bar (scroll indicator) */
    .progress-bar {
      height: 6px;
      background: #7FC3BA;
      width: 0%;
      display: block;
    }
  }
}

#usa-header {
    transition: 5s;
}

.highlight {
    background-color: rgba(0, 0, 0, .1);
    padding: 10px 40px;
}