<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="min-h-full">
  <head>
    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
    {%- include meta.html -%}
    <link rel="preload" href="{{ "/assets/css/main.css" | relative_url }}"  as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/assets/css/main.css"></noscript>
    {%- if site.google_analytics_ua -%}
      {%- include analytics.html -%}
    {%- endif -%}
  </head>
  <body class="text-blueGray-700 bg-blueGray-50 dark:text-blueGray-50 unicorn:text-purple-700 dark:bg-blueGray-700 bg-gradient-to-br unicorn:from-purple-400 unicorn:via-pink-500 unicorn:to-red-500">
    {%- include progress.html -%}
    <div class="lg:container lg:mx-auto lg:max-w-screen-lg lg:px-10">
    {%- include header.html -%}
    </div>
    {%- if page.pagenav -%}
    {%- include pagenav.html -%}
    {%- endif -%}
    <div class="container mx-auto px-10 pb-4 max-w-screen-lg">
        {%- if page.url == "/about/" -%}
        <article class="mx-auto mt-8 dark:text-blueGray-50 unicorn:text-purple-700 break-words about">
        {%- else -%}
        <article class="mx-auto mt-8 dark:text-blueGray-50 unicorn:text-purple-700 break-words">
        {%- if page.include-title == false -%}
        {%- else -%}
        {%- if page.title -%}
            <h1 class="text-5xl lg:text-8xl font-semibold">{{ page.title }}</h1>
        {%- endif -%}
        {%- endif -%}
        {%- endif -%}
            {{ content }}
        </article>
    </div>
    <div class="lg:container lg:mx-auto lg:max-w-screen-lg lg:px-10 text-center text-4xl pt-28 pb-14 font-semibold">
        {%- include footer.html -%}
    </div>
  </body>
  {%- include scripts.html -%}
</html>
