---
const {title} = Astro.props;
const date = new Date();
const current = Astro.request.url.pathname;
---

<html class="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title} • Wizard Unicorn Ninja</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/main.scss')}>
  </head>
  <body class="text-blueGray-700 bg-blueGray-50 dark:text-blueGray-50 unicorn:text-purple-700 dark:bg-blueGray-700 bg-gradient-to-br unicorn:from-purple-400 unicorn:via-pink-500 unicorn:to-red-500">
    <section class="container mx-auto px-10 pb-4 max-w-screen-lg">
      <article class="mx-auto mt-8 dark:text-blueGray-50 unicorn:text-purple-700 break-words">
        <slot />
      </article>
    </section>
  </body>
</html>